// BEGIN COMPILED CODE FROM _BASE.SCSS //

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // DEFINES 1REM AS 10PX
}

body {
  background: #fff;
  color: rgba(0, 0, 0, 0.808);
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

// END BASE CODE //
