.top-notification-banner {
  width: 100%;
  margin-bottom: -1.5rem;
  background-color: darken($color-primary-red, 15%);
  p {
    color: darken($color-white, 10%);
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem 0;
  }
  a {
    color: $color-white;
    text-decoration: none;
    font-weight: normal;
    color: darken($color-white, 10%);
  }
  a:hover {
    color: $color-white;
  }
}
