.button {
  cursor: pointer;
  display: block;
  //text-transform: uppercase;
  font-family: "futura-pt", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  //border: 2px solid $color-primary-red;
  //background-color: $color-primary-red;
  color: $color-primary-red;
  padding: 1.5rem 2rem 1.5rem 0;
  //border-radius: 2px;
  //margin: 3rem 0 0 0;
  //box-shadow: 0 0 2px 1px $color-light-gray;
  transition: all 0.2s ease-in-out;

  &:hover {
    //transform: translateX(30px) scale(1.05);
    //box-shadow: 0 0 10px 3px lighten($color-light-gray, 10%);
    color: lighten($color-primary-red, 10%);
    text-decoration: none;
  }

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: 2px solid $color-white;
    //box-shadow: 0 0 10px 5px darken($color-light-gray, 15%);
  }

  &--inverse {
    box-shadow: none;
    border: 2px solid $color-primary-red;
    color: $color-primary-red;
    background-color: transparent;

    &:hover {
      background-color: $color-primary-red;
      color: $color-white;
    }
  }
}
